{% extends "TwigBundle::layout.html.twig" %}



{% block title 'Latest gifts' %}

{% block body %}
    
<script>
function Sortgifts($scope){
               
             
            {% if gifts %}   
            $scope.gifts =[{% for gift in gifts %}{name:'{{gift.gift.name}}', user:'{{gift.receivedby.firstname}}', date:'{{gift.sentdate|date("d/m/Y g:ia")}}'},{% endfor %}]
            {% endif %}
            }
    </script>
    <div class="sf-reset holder">
        <div style="width: 802px; margin-bottom: 40px;">

            <center>
                <h2>Latest gifts</h2>
                <br>
                <a class="block sort " href="javcript: void(0)" ng-click="predicate = 'date'; reverse=false">By Date</a>
                <a class="block sort" href="javcript: void(0)" ng-click="predicate = 'user'; reverse=false">By Person</a>
            </center>
            
            
            
        </div>
        <div style="width: 802px;" class="latest_gifts" ng-controller="Sortgifts">

            {% verbatim %}
            <div class="circle" ng-repeat="gift in gifts | orderBy:predicate:reverse">
                <span style="font-size: 11px; ">
                    <u>{{gift.name}}</u> for 
                    <br/> 
                    <a href="/stats/{{gift.user}}" style="color: white;">
                        {{gift.user}}
                    </a> 
                    <font style="color: #ddd;">on
                        <br />
                        {{gift.date}} 
                    </font>
                </span>
            </div>
            {% endverbatim %}
            
            <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}
