{% extends "TwigBundle::layout.html.twig" %}


{% block title 'Send gift' %}

{% block body %}
    

    <div class="sf-reset holder" >
           <form action="{{ path('send_gift') }}" method="post" name="send_gift" id="send_gift">
            <div ng-controller="Slider" >
                 <div class="gift_nav">
                         <center><h2>Add new gift</h2></center>
                     <ul class="slider_titles">
                         <li  ng-repeat="item in items"  ng-click="select(item)" ng-class="{active: item == selected}">{% verbatim %}{{item.title}}{% endverbatim %}</li>
                     </ul>

                 </div>
                    <div style="clear: both;"></div>
                 <div ng-switch on="selection"> 
                     <div class="all_users_circle"  ng-switch-default >

                         {% for user in users %} 
                             <div class="circle" ng-click="remeber_name({{user.id}})" ng-class="{active: {{user.id}} == name_selected}">
                                 {{user.firstname}}

                             </div>
                         {% endfor %}


                         <div style="clear: both;"></div>
                     </div>
                     <div class="all_gifts_circle" ng-switch-when="choose" >
                         {% for gift in gifts %} 
                             <div class="circle" ng-click="remeber_gift({{gift.id}})" ng-class="{active: {{gift.id}} == gift_name_selected}">{{gift.name}}</div>
                         {% endfor %}


                         <div style="clear: both;"></div>
                     </div>
                     <div class="all_gifts_circle" ng-switch-when="save">
                         <center>
                         <textarea name="comment" class="block comment" placeholder="Enter your message" rows="15" ></textarea>
                         <br />
                         <input type="submit" value="Send" class="block input_block button send_btn" />
                         </center>
                         <div style="clear: both;"></div>
                     </div>
                 </div>
          </div>
         </form>
    </div>
{% endblock %}
