{% extends "TwigBundle::layout.html.twig" %}


{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.png') }}" />
    {% block javascripts %} 
    {{ parent() }}
     <script src="{{ asset('bundles/system/js/angular.js') }}" type="text/javascript"></script> 
     <script src="{{ asset('bundles/system/js/angular-strap.min.js') }}" type="text/javascript"></script> 
     
  {% endblock %} 
{% endblock %}



{% block title 'Register' %}

{% block body %}
    

    <div class="sf-reset holder">
        <div style="width: 802px; margin-bottom: 40px;">

            <center>
                <h2>Add new gift</h2>
                 
               
               
            </center>
            <ul class="slider_titles">
                    <li class="active">1. Send gift to..</li>
                    <li>2. Choose perfect gift.. (unicorn, maybe?) </li>
                    <li>3. Something to say?</li>
                </ul>
            
            
        </div>
        <div style="width: 802px;" class="all_users_circle">
            {% for user in users %} 
                <div class="circle">{{user.first_name}}</div>
            {% endfor %}
            
            
            <div style="clear: both;"></div>
        </div>
        <div style="width: 802px;" class="all_gifts_circle">
            {% for gift in gifts %} 
                <div class="circle">{{gift.name}}</div>
            {% endfor %}
            
            
            <div style="clear: both;"></div>
        </div>
        <div style="width: 802px;" class="all_gifts_circle">
            <center>
            <textarea class="block" placeholder="Enter your message" style="background-color: #ddd !important; width: 300px !important; " rows="15" ></textarea>
            <br />
            <input type="submit" value="Send" class="block input_block button" style="min-width: 200px !important" />
            </center>
            <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}
