{% extends "TwigBundle::layout.html.twig" %}



{% block title 'Latest gifts' %}

{% block body %}
    

    <div class="sf-reset holder">
        
        <div >

            <div class="personal_data"ng-controller="Sendgiftto">
                <h1>{{ user.firstname }} {{ user.lastname }}</h1>
                <br />Total gifts: <b>{{totalgifts}}</b><br />
                Most popular in: <b>{{mostpopular|date("F Y")}}.</b><br />
                Best gifts <b>{{bestgift}} - {{best_gifts_total}} times</b>
                <br /><br />
                <a href="javascript: void(0)" ng-click="save({{user.id}})" class="block button  input_block custom_send" style="">Send new gift</a>
            </div>
            <div class="gift_data">
                {% for usergift in all_user_gifts %}
                    <div class="sum">
                        <div class="circle">
                            <span>
                            {{usergift.gift.name}}
                            </span>
                        </div>
                        <div class="sender_data">
                            {{usergift.sentby.firstname}} <br />
                            {{usergift.sentdate|date("d F  Y")}} <br /><br />
                            Message: <br />
                            {{usergift.comment}} 
                            
                        </div>    
                    </div>
                {% endfor %}
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}
